@font-face {
  font-family: "RobotoMedium";
  src: url("../../../../../src/assets/Font/Roboto/Roboto-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.home-container {
  width: 100%;
  background-image: url("../../../01_Home Page/Home_Section 1/home_back.png");
  background-size: cover;
}

.home {
  max-height: 1119px;
  height: 1119px;
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  top: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home_logo {
  z-index: 99;
  width: 460px;
  height: 200px;
  background-image: url("../../../../assets/Air Drumming Logo/AirDrumming_Logo-edited.png");
  background-size: 100% 100%;
}

.logo img {
  width: 450px;
}

.text-info {
  width: 740px;
  text-align: center;
  font-size: 21px;
  color: white !important;
  font-family: Roboto regular;
  z-index: 99;
}

.googlyPlay {
  z-index: 99;
  width: 272px;
  height: 67px; 
  background-image: url("../../../01_Home Page/Home_Section 1/addon/Google_play_btn.png");
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.appStore {
  position: relative;
  z-index: 99;
  width: 272px;
  height: 67px;
  background-image: url("../../../01_Home Page/Home_Section 1/addon/app_store_btn.png");
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.mylocritas {
  position: absolute;
  top: 25%;
  transition: all 0.1s;
  left: 20%;
}

.mylocritas img {
  width: 150px;
}

.devorah {
  position: absolute;
  top: 35%;
  transition: all 0.1s;
  left: 8%;
}

.devorah img {
  width: 200px;
}

.earth {
  position: absolute;
  top: 55%;
  transition: all 0.3s;
  left: 8%;
}

.earth img {
  width: 600px;
}

.aurelia {
  position: absolute;
  top: 25%;
  transition: all 0.3s;
  right: 0%;
}

.aurelia img {
  width: 350px;
}

.asteroid {
  position: absolute;
  top: 60%;
  transition: all 0.3s;
  right: 2%;
}

.asteroid img {
  width: 1000px;
}

.bento {
  position: relative;
  min-height: 1117px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento_violet {
  position: absolute;
  right: 5%;
  top: 45%;
  width: 147px;
  height: 147px;
  z-index: 9;
}

.bento_green {
  position: absolute;
  top: 11%;
  left: 10%;
  width: 55px;
}

.bento_yellow {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 256px;
  animation: pop-in 1s forwards;
  z-index: 10;
}

.bento_violet_animation {
  position: absolute;
  right: 5%;
  top: 45%;
  width: 147px;
  height: 147px;
  z-index: 9;
}

.bento_green_animation {
  position: absolute;
  top: 11%;
  left: 10%;
  width: 55px;
  animation: pop-in 0.6s forwards
}

.bento_yellow_animation {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 256px;
  animation: pop-in 1s forwards;
  z-index: 10;
}

.community {
  min-height: 1115px;
  position: relative;
}

.community-detail-cotainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-detail {
  position: absolute;
  bottom: 10%;
  left: 19%;
}
.events-detail h1,
.community-detail h1 {
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: normal;
  font-family: "ThisIsTheFuture", sans-serif;
  font-size: 30px;
  text-align: start;
}

.community-image {
  position: absolute;
  width: 100%;
  height: 1115px;
  background-image: url("../../../01_Home Page/Home_Section 3/AD_Img_02.png");
  background-size: 100% 100%;
}
.community-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #110d3a, transparent);
  opacity: 1;
}

.community-font-style {
  margin-bottom: 10px;
  font-size: 18px;
  width: 632px;
  height: 57px;
  color: white;
}

.learn_button {
  font-size: 20px;
  width: 229px;
  height: 62px;
  background-size: 100% 100%;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer
}

.learn_button:hover {
  width: 229px;
  height: 62px;
  background-size: 100% 100%;
  border: 2px solid white;
  background-color: white;
  color: #242b7d;
  margin-top: 20px;
  cursor: pointer
}


.events {
  min-height: 1117px;
  position: relative;
  background-color: #17083d;
}

.events-image {
  position: absolute;
  width: 100%;
  height: 1117px;
  background-image: url("../../../01_Home Page/Home_Section 4/Home_Section4_Img.png");
  background-size: 100% 100%;
}

.events-detail {
  position: absolute;
  bottom: 10%;
  left: 19%;
}

@media (max-width: 991px) {

  .drumming,
  .citing,
  .star,
  .feel,
  .learn,
  .drumplay{
    height: 150px !important;
    border-radius: 20px;
  }

  .drumming-image{
    height: 100% !important;
  }

  .citing-text{
    padding-left: 15px;
  }
  .star-text{
    padding-left: 15px;
    padding-top: 15px;
  }
  .citing-text{
    padding: 0;
  }
  
  
  .citing-text h1,
  .star-text h1,
  .feel h1,
  .learn-text h1,
  .drumplay-text h1{
    font-size: 24px;
    margin-bottom: 0;
  }
  .citing-text p,
  .star-text p,
  .drumplay-text p{
    font-size: 14px;
    line-height: 1.1;
  }

  .citing-image,
  .star-image,
  .drumplay-image{
    height: 160px;
    position: relative;
  }
  .citing-content,
  .star-content,
  .drumplay-content{
  
    text-align: -webkit-center;
  }

  .bento{
    min-height: 650px;
  }
  .aurelia img{
    width: 200px;
  }
  .asteroid img{
    width: 600px;
  }
  .earth img{
    width: 400px;
  }

  .community-image{
    height: 800px;
  }
}

@media (max-width: 771px) {
  .col, .col-4 {
    flex: 1 0 100%; 
    max-width: 100%;
  }

  .main-header {
    max-width: 744px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #100D39;
    color: white;
    position: fixed;
    height: 70px;
    z-index: 20;
  }

  .header-logo-img {
    width: 84.73px;
    height: 44px;
  }

  .navbar {
    visibility: hidden;
  }

  .basic-menu {
    visibility: inherit;
    position: absolute;
    right: 10%;
  }

  .home-container {
    max-width: 744px;
    background-image: url("../../../01_Home Page/Home_Section 1/Galaxy_Background.png");
    background-size: cover;
    overflow: hidden;
  }

  .home {
    height: 688px;
  }

  .logo {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .logo img {
    width: 135.08px;
    height: 58px;
  }

  .home_logo {
    width: 220px;
    height: 101.5px;
    background-size: 100% 100%;
  }

  .googlyPlay {
    width: 204px;
    height: 50.4px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .text-info {
    text-align: center;
    width: 277px;
    height: 96px;
    font-size: 14px;
    font-family: Roboto regular;
  }

  .appStore {
    width: 204px;
    height: 50.4px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .mylocritas {
    position: absolute;
    top: 10%;
    transition: all 0.1s;
    left: 10%;
  }

  .mylocritas img {
    width: 77.62px;
  }

  .devorah {
    position: absolute;
    top: 30%;
    transition: all 0.1s;
    left: -23%;
  }

  .devorah img {
    width: 123.75px;
    height: 115.88px;
  }

  .earth {
    position: absolute;
    top: 65%;
    transition: all 0.3s;
    left: -12%;
  }

  .aurelia {
    position: absolute;
    top: 35%;
    transition: all 0.3s;
    right: -30%;
  }

  .aurelia img {
    width: 165px;
    height: 155px;
  }

  .earth img {
    width: 167px;
    height: 169px;
  }

  .asteroid {
    position: absolute;
    top: 65%;
    transition: all 0.3s;
    right: -70%;
  }

  .asteroid img {
    width: 513px;
    height: 220px;
  }

  .bento_violet {
    position: absolute;
    right: -50%;
    top: 45%;
    width: 147px;
    height: 147px;
    z-index: 9;
  }

  .bento_green {
    position: absolute;
    top: 11%;
    left: -50%;
    width: 55px;
  }

  .bento_yellow {
    position: absolute;
    top: 90%;
    left: -100%;
    width: 256px;
    animation: pop-in 1s forwards;
    z-index: 10;
  }

  .bento_violet_animation {
    position: absolute;
    right: -50%;
    top: 45%;
    width: 147px;
    height: 147px;
    z-index: 9;
  }

  .bento_green_animation {
    position: absolute;
    top: 11%;
    left: -40%;
    width: 55px;
    animation: pop-in 0.6s forwards
  }

  .bento_yellow_animation {
    position: absolute;
    top: 90%;
    left: -100%;
    width: 256px;
    animation: pop-in 1s forwards;
    z-index: 10;
  }

  .drumming {
    width: 75%;
    height: 170px !important;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .citing {
    justify-items: center;
    margin-left: 0;
    margin-top: 5px;
    width: 75%;
    height: 265px !important;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .citing-text,
  .star-text,
  .drumplay-text{
    padding: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .citing-text h1,
  .star-text h1,
  .feel-text h1,
  .learn-text h1,
  .drumplay-text h1{
    font-size: 30px;
  }

  .citing-text p,
  .star-text p,
  .feel-text p,
  .drumplay-text p{
    font-size: 16px;
  }
  .feel-text{
    padding: 0;
    place-items: center;
  }
  
  .citing-image,
  .star-image,
  .drumplay-image{
    width: 380px;
    height: 180px;
    top: -25px;
    left: -5px;
  }

  .star {
    justify-items: center;
    margin-left: 0;
    margin-top: 12px;
    width: 75%;
    height: 252px !important;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .citing-content,
  .star-content,
  .drumplay-content{
    display: table-row;
    margin: 0;
  }

  .feel {
    width: 75% !important;
    height: 170px !important;
    margin-top: 5px;
    margin-left: 0;
    width: 312px;
    height: 252px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .learn {
    width: 75%;
    margin-top: 5px;
    margin-left: 0px;
    width: 75%;
    height: 252px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .drumplay {
    justify-items: center;
    margin-top: 5px;
    margin-left: 0px;
    width: 75%;
    height: 252px !important;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .community {
    min-height: 608.75px;
    position: relative;
  }

  .community-image {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 380px;
    background-size: 100% 100%;
  }

  .community-title {
    width: 186px;
    height: 29px;
  }

  .community-font-style {
    font-size: 14px;
    width: 240px;
    height: 80px;
    color: white;
  }

  .community-detail {
    margin-top: 30px;
    display: flex;
    padding-top: 0px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: unset;
  }

  .community-detail-cotainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learn_button h3{
    font-size: 16px;
  }

  .learn_button {
    border: 2px solid white;
    width: 140px;
    height: 36px;
    background-size: 100% 100%;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer
  }

  .learn_button:hover {
    border: 2px solid white;
    background-color: white;
    color: #242b7d;
    width: 140px;
    height: 36px;
    background-size: 100% 100%;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer
  }

  .events {
    min-height: 492.75px;
    position: relative;
  }

  .events-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 239.75px;
    background-size: 100% 100%;
  }

  .events-title {
    width: 87px;
    height: 29px;
  }

  .events-detail {
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: unset;
  }
}

@media (max-width: 500px) {
  .citing-image,
  .star-image,
  .drumplay-image{
    width: 270px;
  }
}
@media (max-width: 360px) {
  .feel-text{
    padding: 0;
    place-items: center;
  }
  .main-header {
    max-width: 360px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #100D39;
    color: white;
    position: fixed;
    height: 70px;
    z-index: 20;
  }

  .header-logo-img {
    width: 84.73px;
    height: 44px;
  }

  .home_logo {
    width: 220px;
    height: 101.5px;
    background-size: 100% 100%;
  }

  .home {
    height: 688px;
  }

  .navbar {
    visibility: hidden;
  }

  .home-container {
    max-width: 360px;
    background-image: url("../../../01_Home Page/Home_Section 1/Galaxy_Background.png");
    background-size: 100% 100%;
    overflow: hidden;
  }

  .basic-menu {
    visibility: inherit;
    position: absolute;
    right: 10%;
  }

  .logo {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .logo img {
    width: 220px;
    height: 105.1px;
  }

  .googlyPlay {
    width: 204px;
    height: 50.4px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .text-info {
    text-align: center;
    width: 277px;
    height: 96px;
    font-size: 14px;
    font-family: Roboto regular;
  }

  .appStore {
    width: 204px;
    height: 50.4px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .mylocritas {
    position: absolute;
    top: 10%;
    transition: all 0.1s;
    left: 10%;
  }

  .mylocritas img {
    width: 77.62px;
  }

  .devorah {
    position: absolute;
    top: 30%;
    transition: all 0.1s;
    left: -23%;
  }

  .devorah img {
    width: 123.75px;
    height: 115.88px;
  }

  .earth {
    position: absolute;
    top: 65%;
    transition: all 0.3s;
    left: -12%;
  }

  .aurelia {
    position: absolute;
    top: 35%;
    transition: all 0.3s;
    right: -30%;
  }

  .aurelia img {
    width: 165px;
    height: 155px;
  }

  .earth img {
    width: 167px;
    height: 169px;
  }

  .asteroid {
    position: absolute;
    top: 65%;
    transition: all 0.3s;
    right: -70%;
  }

  .asteroid img {
    width: 513px;
    height: 220px;
  }


  .bento_violet {
    position: absolute;
    right: -50%;
    top: 45%;
    width: 147px;
    height: 147px;
    z-index: 9;
  }

  .bento_green {
    position: absolute;
    top: 11%;
    left: -50%;
    width: 55px;
  }

  .bento_yellow {
    position: absolute;
    top: 90%;
    left: -100%;
    width: 256px;
    animation: pop-in 1s forwards;
    z-index: 10;
  }

  .bento_violet_animation {
    position: absolute;
    right: -100%;
    top: 45%;
    width: 147px;
    height: 147px;
    z-index: 9;
  }

  .bento_green_animation {
    position: absolute;
    top: 11%;
    left: -40%;
    width: 55px;
    animation: pop-in 0.6s forwards
  }

  .bento_yellow_animation {
    position: absolute;
    top: 90%;
    left: -100%;
    width: 256px;
    animation: pop-in 1s forwards;
    z-index: 10;
  }

  .citing-image,
  .star-image,
  .drumplay-image{
    width: 300px;
  }
  .drumming {
    width: 312px;
    height: 156px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .citing {
    margin-left: 0;
    margin-top: 5px;
    width: 312px;
    height: 252px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .star {
    margin-left: 0px;
    margin-top: 10px;
    width: 312px;
    height: 156px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .feel {
    margin-top: 5px;
    margin-left: 0;
    width: 312px !important;
    height: 252px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .learn {
    margin-top: 5px;
    margin-left: 0px;
    width: 312px;
    height: 252px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .drumplay {
    margin-top: 5px;
    margin-left: 0px;
    width: 312px;
    height: 156px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .community {
    min-height: 508.75px;
    position: relative;
  }

  .community-image {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 239.75px;
    background-size: 100% 100%;
  }

  .community-title {
    width: 186px;
    height: 29px;
  }

  .community-font-style {
    font-size: 14px;
    width: 240px;
    height: 80px;
    color: white;
  }

  .community-detail {
    display: flex;
    padding-top: 0px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: unset;
  }

  .community-detail-cotainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .learn_button h3{
    font-size: 16px;
  }

  .learn_button {
    width: 140px;
    height: 36px;
    background-size: 100% 100%;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer
  }

  .learn_button:hover {
    border: 2px solid white;
    background-color: white;
    width: 140px;
    height: 36px;
    background-size: 100% 100%;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer
  }

  .events {
    min-height: 492.75px;
    position: relative;
  }

  .events-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 239.75px;
    background-size: 100% 100%;
  }

  .events-title {
    width: 87px;
    height: 29px;
  }

  .events-detail {
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: unset;
  }
}